<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>Servlet.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlbum</servlet-name>
        <servlet-class>Servlet.ServletAlbum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutor</servlet-name>
        <servlet-class>Servlet.ServletAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNacionalidad</servlet-name>
        <servlet-class>Servlet.ServletNacionalidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSesion</servlet-name>
        <servlet-class>Servlet.ServletSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlbum</servlet-name>
        <url-pattern>/ServletAlbum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAutor</servlet-name>
        <url-pattern>/ServletAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNacionalidad</servlet-name>
        <url-pattern>/ServletNacionalidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSesion</servlet-name>
        <url-pattern>/ServletSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
